@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url('../fonts/icons.ttf') format("woff"), url("../fonts/icons.ttf#icons") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
//АДАПТИВНОЕ СВОЙСТВО
@mixin adaptiv-value($property, $startSize, $minSize, $type){
    $addSize: $startSize - $minSize;
    @if $type==1{
        //только если меньше контейнера
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    }@else if $type==2{
    //ТОЛЬКО ЕСЛИ БОЛЬШЕ КОНТЕЙНЕРА
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320) / #{$maxWidth - 320}));
        }
}@else {
        //ВСЕГДА
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320) / #{$maxWidth - 320}))
    }
}