@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url('../fonts/icons.ttf') format("woff"), url("../fonts/icons.ttf#icons") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}